:root {
    --cor-principal: #00aabb;
}

body {
    background-color: #eee;
    font-family: Arial;
}

.centro {
    text-align: center;
}

fieldset {
    border-style: dotted;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 20px;
}

.fsPessoais {
    background-color: lightblue;
}
.fsProf {
    background-color: lightcoral;
}
.fsAcoes {
    background-color: lightgreen;
}

input, textarea, select {
    background-color: khaki;
    margin-bottom: 16px;
}

.bt {
    color: #fff;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border-style: none;
    border-radius: 10px;
}

.bt_enviar {
    background-color: green;
    margin-right: 30px; 
}

.bt_limpar {
    background-color: orange;
}

label {
    font-weight: bold;
}
